*{
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 700px) {
    body{

    }
  .pesquisa {
      margin-left: -50px;
   /*background-color: #2691d9;*/

  }
  .navbar ul{
      margin-left: -360px;
      margin-bottom: -50px;
  }

}
.background {
    display: block;
    height: 100vh;
    width: 100%;
}

img{
    width: 80px;
    height: 80px;
    margin-left: 30px;
    border-radius: 40px;
}

.navbar{
    display: flex;
    /*background-color: white;*/
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.4px solid  #c9d5c9;
    height: 10%;
    width: 100%;
    background-color: #87CEFA;
    color: white;

}
.navbar ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    color: white;
}

.navbar ul li{
    margin-left: 30px;
    margin-right: 30px;
    color: white;
}
.but li :hover{
    background-color: #2691d9;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
.srch {
    width: 250px;
    height: 30px;
    border-radius: 6px;
    border-color: white;
    border-style: none;
    padding: 10px;
    color: #818181;
}
.btn{
    border-radius: 8px;
}
.pesquisa{
    display: flex;
    margin-left:16%;
    align-items: center;
}
.categoria{
    display: flex;


}
.but{
    margin-right: 40px;
}


.filtro{
    width: 100%;
    min-height: 80%;
    display: flex;
    flex-direction: row;
    color: #494949;
}


.filtro .left{

    display: flex;
    width: 25%;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    border-right: 1px solid black;


}
.filtro1{
    width: 90%;
    background-color: #87CEFA;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    color: white;
}
.filtro1 h1{
    display: flex;
    justify-content: center;
}

.filtro2{

    /*margin-top: 100px;*/
    border-radius: 10px;
    width: 90%;
    height: 170px;
    margin-left: 0;
    background-color: #87CEFA;
    color: white;
}
.filtro2 h1{
    display: flex;
    justify-content: center;
}

.left form{
    margin-left: 10%;
}
.left .left-title{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.filtro .left .filtro1 {
    display: block;
    justify-content: center;
    width: 90%;
    margin-bottom: 50px;
}


.rigth .product{
    height: 500px;
    width: 300px;
    border-radius: 15px;
    margin: 5px 5px 5px 5px;
    display: flex;
    border: 1px solid black;
    flex-wrap:wrap ;
    justify-content: space-around;


}

/*.rigth .product img{*/
/*    height: 250px;*/
/*    width: 250px;*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/

/*}*/
.imagem_produto{
    margin: 0;
    padding: 0;
    height: 70%;
    width: 300px;

    border-radius: 15px;

}
.imagem_produto img{
    height: 275px;
    width: 275px;
    margin: 10px;

}





.detalhe_produto{

    height: 30%;
    background-color: #87CEFA;
    width: 300px;
    border-radius: 6px;
    color: white;

}
.detalhe_produto h1{

    margin: 6%;

}



.filtro3 h1{
    display: flex;
    justify-content: center;
}
.logo{
    margin-top: 20px;
    height: 100px;
    width: 100px;
}
.background .fter{
    height: 10%;
    display: flex;

}


.btnFavorite{
    margin-left: 85%;
    margin-top: 5px;
    background: transparent;
    border: none;
    font-size: 25px;
    outline: none;
    color: grey;

}

.btnFavorite i:hover{
    cursor: pointer;
}




.footer_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #87CEFA;
    color: white;
}

