<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ola mundo</title>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Homepage.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='SellPage.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css')}}">
    <script src="https://kit.fontawesome.com/14c40cfc98.js" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="Auction-page.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Profile.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Update.css')}}">

    {% block css %} {% endblock %}


    <script src="https://kit.fontawesome.com/f6dcf461c1.js" crossorigin="anonymous"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}




</body>

</html>